# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CAKE_REDDOT_LEFT
    def_bool $(shields_list_contains,cake_reddot_left)

config SHIELD_CAKE_REDDOT_RIGHT
    def_bool $(shields_list_contains,cake_reddot_right)
