on: 
  push:               # automatically run on changes to following paths
    paths:
      - 'config/*.keymap'
      - 'config/*.dtsi'
      - 'config/*.conf'
      - '.github/workflows/build.yml'
      - 'build.yaml'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
